* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.first_contents,
.second_contents,
.third_contents,
.forth_contents,
.fivth_contents {
    display: flex;
    justify-content: flex-start;
}
.first_background,
.second_background,
.third_background,
.forth_background,
.fivth_background {
    height: 100vh;
    width: 30%;
    background-color: #0ecb81;
}
.subtitle {
    margin-left: 10%;
    padding-top: 10vh;
}

.subtitle p {
    font-size: 40px;
    color: #00a869;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    font-style: bold;
}
.first_background .subtitle {
    margin-top: 20vh;
}
.second_background {
    height: 100vh;
    width: 40%;
    background-color: #0ecb81;
}

.picture {
    width: auto;
    height: 100vh;
    position: absolute;
    margin-left: 0vw;
}
.profileContents,
.Contents {
    margin-top: 10vh;
}
.profileContents p {
    color: #989797;
}

.third_contents {
    position: relative;
}
.thirdBox {
    width: auto;
    height: 100vh;
    background-color: red;
    position: absolute;
}

.Contents p {
    color: #989797;
    font-size: 30px;
}

.picBox {
    display: flex;
    justify-content: flex-start;
}

.picCat {
    width: auto;
    height: 100vh;
}

.picPer2 {
    width: auto;
    height: 100vh;
}

.third_background {
    height: 100vh;
    width: 50%;
    background-color: #0ecb81;
}

.forth_background {
    height: 100vh;
    width: 60%;
    background-color: #0ecb81;
}

.fivth_background {
    height: 100vh;
    width: 70%;
    background-color: #0ecb81;
}
